src/assets/photos/*.mp4 filter=lfs diff=lfs merge=lfs -text
src/assets/photos/*.mov filter=lfs diff=lfs merge=lfs -text
src/assets/photos/*.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/photos/*.jpeg filter=lfs diff=lfs merge=lfs -text
src/assets/photos/*.png filter=lfs diff=lfs merge=lfs -text
src/assets/photos/*.webp filter=lfs diff=lfs merge=lfs -text
